.footer__column-link {
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition: opacity 1s linear;
}
