.kaufman {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1f1f1f;
  padding: 90px 0;
  z-index: 0;
}
